/node_modules
/public/hot
/public/storage
/storage/logs
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea


# Webpack

public/assets/css/dev1
public/assets/js/app.js
public/assets/css/app.css
public/assets/css/style.css
public/assets/css/all.css
public/assets/js/script.js
public/assets/js/all.js
.vapor/
.env.production
.env.staging
